@font-face {
    font-family: "SF-Semibold";
    src: url("SFUIText-Semibold.otf");
  }
.footer-main{
    display: flex;
    bottom: 0;
    width: 100vw;
    height: 100px;
    justify-content: center;
    overflow: hidden;
}
.inner-footer-box{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}
.top-box{
    display: flex;
    width: 100%;
    column-gap: 10vw;
    top: 10%;
    justify-content: center;
    font-family: SF-Semibold;
}
.bottom-box{
    display: flex;
    width:100%;
    justify-content: center;
    word-spacing:3px;
    font-family: SF-Light;
    
}