.main-box{
    max-width: 400px;
    height: 700px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1.5px solid black;
}
/*#05baab*/
.register-inner-box{
    margin:30px 30px;
    max-width: 340px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    height: 560px;
}
.logo-box{
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
}
.logo-box img{
    position: relative;
    width: 100px;
    height: 70px;
}
.reg-login-box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 300px;
    width: 100%;
}
.input-box{
    display: flex;
    position: relative;
    width:90%;
    justify-self: center;
    justify-content: center;
    align-items: center;
}
.input-box input{
    outline: none;
    width: 100%;
    font-family: SF-Light;
    background: none;
    border: 0;
    color: #05baab;
    border-bottom: 1px solid black;
    bottom: 0%;
}
.input-box input:focus ~ label,
.input-box input:valid+label{
    transform: translateY(-23px);
    font-size: 15px;
    color : black ;
}

.input-box label{
    position: absolute;
    font-family: SF-Light;
    color: black;
    letter-spacing: 1px;
    left: 0%;
    margin-bottom: 7px;
    transition: all 0.5s ease;
}
.input-box input:invalid{
    outline:0;
}

.policy-box{
    width: 100%;
    position: relative;
    font-family: SF-Light;
}
.policy-box p{
    position: relative;
    font-size: 14px;
    left: 5%;
    letter-spacing: 0.9px;
}
.policy-box p span{
    color: #05baab;
}
.register-link-box{
    display: flex;
    gap: 5px;
}
.register-p{
    position: relative;
    color: black;
    left: 5%;
    font-family: SF-Light;
}
.register-p span{
    color: #05baab;
}
.Sign-up{
    position: relative;
    color: black;
    left: 5%;
    font-family: SF-Semibold;
    letter-spacing: 0.5px;
}
.reg-app-link-box{
    width: 100%;
    position: relative;
    height: auto;
    bottom: 6%;
}
.app-text{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
}
.app-text p{
    right:3%;
    position: relative;
    color: black;
    font-family: SF-Light;
}
.logos{
    width: 100%;
    display: grid;
    height:120px;
    grid-template-columns: 1fr 1fr;
}
.logos img{
    position: relative;
    left: 8%;
    width: 120px;
    height: 70px;
}
.button-box{
    position: relative;
    left:5%;
    height: 30px;
    width: 100%;
}
.button-box input{
    width: 90%;
    height: 35px;
    font-size: 16px;
    background-color: #05baab;
    color: white;
    border: none;
    border-radius: 7px;
    letter-spacing: 0.5px;
    font-family: SF-Semibold;
}