.register-outer-div {
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
  }
  .video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    object-fit: cover;
  }
  
  .register-main-box {
    width: 400px;
    height: 800px;
    position: relative;
  }
  
  /*#05baab*/
  .register-inner-box {
    width: 400px;
    display: grid;
    grid-template-rows: 1fr 6fr 1fr 1fr 1fr;
    gap: 10px;
    height: 800px;
  }
  
  .register-logo-box {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
  }
  
  .register-logo-box img {
    position: relative;
    width: 100px;
    height: 70px;
  }
  
  .register-login-box {
    display: grid;
    grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    height: 400px;
    width: 100%;
  }
  
  .register-input-box {
    display: flex;
    position: relative;
    width: 90%;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }
  
  .register-input-box input {
    outline: none;
    width: 100%;
    font-family: SF-Light;
    background: none;
    border: 0;
    color: #8e8e8e;
    border-bottom: 1px solid black;
    bottom: 0%;
    font-size: 16px;
    box-shadow: 0px 8px 15px -8px #111; 
  }
  
  .register-input-box input:focus ~ label,
  .register-input-box input:valid+label {
    transform: translateY(-27px);
    font-size: 15px;
    color: black;
  }
  
  .register-input-box label {
    position: absolute;
    font-family: SF-Regular;
    color: black;
    left: 0%;
    margin-bottom: 7px;
    transition: all 0.5s ease;
    font-size: 18px;
  }
  
  .register-input-box input:invalid {
    outline: 0;
  }
  
  .register-policy-box {
    width: 90%;
    position: relative;
    font-family: SF-Regular;
  }
  
  .register-policy-box p {
    position: relative;
    font-size: 14px;
    left: 5%;
  }
  
  .register-policy-box p span {
    font-family: SF-SemiBold;
  }
  
  .register-link-box {
    display: flex;
    gap: 5px;
  }
  
  .register-p {
    position: relative;
    color: black;
    left: 5%;
    font-family: SF-Regular;
  }
  
  .register-p span {
    font-family: SF-SemiBold;
  }
  
  .register-Sign-up {
    position: relative;
    color: black;
    left: 5%;
    font-family: SF-Semibold;
    letter-spacing: 0.5px;
  }
  
  .register-app-link-box {
    width: 100%;
    position: relative;
    height: auto;
    bottom: 6%;
  }
  
  .register-app-text {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
  }
  
  .register-app-text p {
    right: 3%;
    position: relative;
    color: black;
    font-family: SF-Light;
  }
  
  .register-logos {
    width: 100%;
    display: grid;
    height: 120px;
    grid-template-columns: 1fr 1fr;
  }
  
  .register-logos img {
    position: relative;
    left: 8%;
    width: 120px;
    height: 70px;
  }
  
  .register-button-box {
    position: relative;
    left: 5%;
    height: 30px;
    width: 100%;
  }
  
  .register-button-box input {
    width: 90%;
    height: 35px;
    font-size: 16px;
    background-color: #05baab;
    color: white;
    border: none;
    letter-spacing: 0.5px;
    font-family: SF-Semibold;
  }
  