.forgot-login-outer-div {
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
}
.forgot-main-box {
  width: 400px;
  height: 700px;
  position: absolute;
}

.forgot-inner-box {
  max-width: 400px;
  height: 700px;
  display: grid;
  gap: 15px;
  grid-template-rows: 1fr 5fr 1fr 1fr 1fr;
}

.forgot-logo-box {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
}

.forgot-logo-box img {
  position: relative;
  width: 100px;
  height: 70px;
}

.forgot-login-box {
  display: grid;
  grid-template-rows: 2fr 2fr ;
  width: 100%;
  height: 200px;
}

.forgot-username-box,
.forgot-password-box {
  display: flex;
  position: relative;
  width: 90%;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

.forgot-username-box input,
.forgot-password-box input {
  outline: none;
  width: 100%;
  background: none;
  color: #8e8e8e;
  border: none;
  font-family: 'SF-Light';
  font-size: 15px;
  letter-spacing: 1px;
  border-bottom: 1px solid black;
  bottom: 0%;
  box-shadow: 0px 8px 15px -8px #111; 
}

.forgot-username-box input:focus~label,
.forgot-username-box input:valid~label,
.forgot-password-box input:focus~label,
.forgot-password-box input:valid~label {
  transform: translateY(-23px);
  font-size: 15px;
  color: black;
  border: none;
}

.forgot-username-box label,
.forgot-password-box label {
  position: absolute;
  font-family: SF-Regular;
  color: black;
  left: 0%;
  margin-bottom: 7px;
  pointer-events: none;
  transition: all 0.5s ease;
}

.forgot-password-box input:invalid {
  outline: 0;
}

.forgot-register-link-box {
  display: flex;
  gap: 5px;
}

.forgot-register-p,
.forgot-Sign-up {
  position: relative;
  color: black;
  font-family: 'SF-Light';
}

.forgot-Sign-up {
  font-family: 'SF-Semibold';
}

.forgot-app-link-box {
  width: 100%;
  position: relative;
  height: auto;
  bottom: -25%;
}

.forgot-app-text {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
}

.forgot-app-text p {
  right: 3%;
  position: relative;
  color: black;
  font-family: SF-Regular;
}

.forgot-logos {
  width: 100%;
  display: grid;
  height: 120px;
  grid-template-columns: 1fr 1fr;
}

.forgot-logos img {
  position: relative;
  left: 8%;
  width: 120px;
  height: 70px;
}

.forgot-button-box {
  position: relative;
  left: 5%;
  height: 30px;
  width: 100%;
}

.forgot-button-box input {
  width: 90%;
  height: 35px;
  font-size: 16px;
  background-color: #05baab;
  color: white;
  border: none;
  letter-spacing: 0.5px;
  font-family: 'SF-Semibold';
}
